{
  "plugins": [
      [
          "module-resolver",
          {
              "cwd": "babelrc",
              "root": ["./src"],
              "extensions": [".js", ".ios.js", ".android.js"],
              "alias": {
                  "@root": "./src",
                  "@actions": "./src/actions",
                  "@assets": "./src/assets",
                  "@components": "./src/components",
                  "@constants": "./src/constants",
                  "@helper": "./src/helper",
                  "@navigations": "./src/navigations",
                  "@reducers": "./src/reducers",
                  "@scenes": "./src/scenes",
                  "@stores": "./src/stores",
                  "@styles": "./src/styles",
                  "@utils": "./src/utils"
              }
          }
      ]
  ]
}